<!DOCTYPE html>

<html>

<head>
    <title>Festival da Canção</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .textField {
            width: 350px;
            margin: 4px;
        }

        .botao {
            width: 200px;
            margin: 10px;
            margin-top: 40px;
        }

        .placar {
            width: 55px;
            text-align: center;
        }

        .tabela {
            width: 60%;
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #fcd47f;">
        <a class="navbar-brand" href="/home">Festival da Canção</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Apresentações
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/apresentacaoList">Listar</a>
                        <a class="dropdown-item" href="/apresentacaoCreate">Cadastrar</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Votação
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/votarList">Votar</a>
                    </div>
                </li>

            </ul>
            </form>
        </div>
        <a href="/logout" class="nav-link"> <!--</form> class="form-inline"> -->
            <button class="btn btn-outline-secondary">Logout</button>
        </a>
    </nav>
    <br>
    <center>
        {{{body}}}
    </center>
</body>

</html>