<h3>Cadastro de usuário</h3><br>
<form action="/usuarioCadastrar" method="post">
    <div class="form-group" id="form-login">
        Nome <br><input type="text" name="nome" placeholder="Nome" class="textField" id="nome">
        <br>
        Matricula <br><input type="text" name="matricula" placeholder="Número de matricula na UTFPR" class="textField" id="matricula">
        <br>
        Senha <br><input type="password" name="senha" placeholder="Senha" class="textField" id="senha"> 
        <br><br>
        <input class="form-check-input" type="checkbox" name="tipousuario" class="form-control"> Administrador
        <br><br>
        <div>
            <button type="submit" class="btn btn-dark mb-2 ">Cadastrar</button>
            <a href="/home"><button type="button" class="btn btn-secondary mb-2 ">Cancelar</button></a>
</form>