<h3>Login</h3><br>
<form action="/login" method="post">
    <input type="text" name="matricula" id="matricula" class="textField" placeholder="Matricula">
    <br>
    <input type="password" name="senha" class="textField" placeholder="Senha">
    <br><br>
    <button type="submit" class="btn btn-primary mb-2 botao">Entrar</button>
    <button type="button" class="btn btn-secondary botao" onclick=cadastrarUsuario()> Cadastrar</button>
</form>
<br>
<script>function cadastrarUsuario() {window.location.href = "usuarioCreate"}</script>
